<<<<<<< backend
/react-dashboard/react-dashboard/src/pages/Library/Library.module.css
=======
.libraryPage {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.libraryTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.navBar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.navButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  background-color: transparent;
  color: var(--meduimgray-color);
  cursor: pointer;
}

.navButton:hover {
  color: var(--secondary-brand);
}
>>>>>>> local

.libraryContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.libraryTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.libraryItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.libraryItem:hover {
  background-color: #f0f0f0;
}