.button {
    background-color: var(--primary-brand);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: var(--secondary-brand);
    border-color: var(--primary-brand);
    color: white;
  }